
<header id="main-header">
	<div class="component">
		<a href="/"><img src="/assets/1.png"></a>
	</div>
	<div class="component">
		
	</div>
	<div class="component">
			<ul>
				<li><i class="material-icons">explore</i></li>
				<li><i class="material-icons">favorite_border</i></li>
				<li><a href="user/profile"><i class="material-icons">perm_identity</i></a></li>
			</ul>
	</div>
</header>

<main id="main-body">
</main>
