#profile-main{
	width: 70%;
	margin: auto;
	padding-top: 192px;
	#profile-head{
		display: flex;
		div#profile-picture{
			width: 40%;
			img{
				border-radius: 50%;
				height: 200px;
			}
		}

		#profile-details{
			width: 60%;
			span{
				font-size: 42px;
			}
		}

	}
}

div.post{
	margin-top: 5%;
}
div.card{
	margin: auto;
	width: 50vw;
}
#small-pic{
	height: 40px;
	border-radius: 50%;
}
#follow-info{
	display: flex;
	margin-top: 5vh;
	div{
		margin-right: 5vw;
	}
}

	a.modal-trigger:hover{
		color: black;
	}


@media only screen and (max-width: 500px) {
	div#profile-main{
		width: 100%;
		margin: auto;
		padding-top: 192px;
	    div#profile-head{
			
			div#profile-picture{
				width: 40%;
				img{
					border-radius: 50%;
					height: 100px;
				}
			}

			div#profile-details{
				width: 60%;
				span{
					font-size: 20px;
				}
			}

		}
	}
}